<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYRTIfaaua8d90785Wkz0Ek01-lSytYmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>256000945422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainapp</string>
	<key>PROJECT_ID</key>
	<string>trainapp-3d67b</string>
	<key>STORAGE_BUCKET</key>
	<string>trainapp-3d67b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256000945422:ios:614b4e6caef3827422fb5f</string>
</dict>
</plist>